:root {
  --stroke: 'grey';
}

.image-container {
  background-color: white;
}

circle.map-circle {
  fill: transparent;
  stroke: var(--stroke);
}

.controls {
  background: rgba(0, 0, 0, 0.5);
  padding: 6px 12px;
}

.controls button {
  padding: 4px 8px;
}

.controls button:not(:last-child) {
  margin-right: 0.5rem;
}

.fixed-left {
  position: fixed;
  top: 10px;
  left: 10px;
}

.fixed-right {
  position: fixed;
  top: 10px;
  right: 10px;
}
